version: '3.9'
services:
  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.34.5  
    ports:
      - "8080:8080"
      - "50051:50051" 
    restart: on-failure:0
    environment:
      QUERY_DEFAULTS_LIMIT: 20
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none'
    volumes:
      - ./weaviate_data:/var/lib/weaviate